* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.container {
  width: 900px;
  margin: 0 auto;
}

h1 {
  padding: 2rem 0;
  text-align: center;
}

.btns {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  gap: 20px;
}

button {
  padding: 1rem 2rem;
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.list li {
  width: 48%;
  height: 200px;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}
