* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.container {
  width: 600px;
  margin: 0 auto;
}

h1 {
  padding: 2rem 0;
  text-align: center;
}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #999;
}

.tab li {
  border: 1px solid #999;
  background-color: #eee;
  margin-right: -1px;
  margin-bottom: -1px;
}

.tab li.active {
  background-color: #fff;
  border-bottom: 1px solid #fff;
}

.tab li a {
  display: block;
  padding: 10px 30px;
}

.tab_content {
  padding: 2rem;
}
