* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #111;
}

h1 {
  color: #fff;
  padding: 2rem 0;
  font-size: 20px;
  text-align: center;
}

.accordion {
  width: 600px;
  margin: 0 auto;
  color: #ddd;
}

h2 {
  background-color: #333;
  padding: 1rem;
  margin: 4px 0;
  position: relative;
  cursor: pointer;
}

h2::after {
  content: '';
  position: absolute;
  top: 26px;
  right: 16px;
  width: 14px;
  height: 14px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
  transition: 0.2s;
}

h2.active::after {
  transform: rotate(45deg);
}

.content {
  background-color: #666;
  padding: 1rem;
  display: none;
}
