* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

body {
  background-color: #666;
}

img {
  width: 100%;
  display: block;
}

.container {
  width: 800px;
  margin: 0 auto;
}

h1 {
  font-size: 20px;
  padding: 2rem 0;
  text-align: center;
  color: #fff;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
}

.cards li {
  width: 49%;
}

.dimm {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.dimm img {
  width: initial;
  height: 80%;
}

.show {
  visibility: visible;
}
